{:paths ["src"]
 :deps {metosin/malli {:mvn/version "0.13.0"}
        lambdaisland/deep-diff2 {:mvn/version "2.10.211"}
        com.grzm/awyeah-api {:git/url "https://github.com/grzm/awyeah-api"
                             :git/sha "d98a9f6210c61d64f22e9b577d2254d6f6d2f35f"}
        com.cognitect.aws/endpoints {:mvn/version "1.1.12.504"}
        com.cognitect.aws/secretsmanager {:mvn/version "847.2.1387.0", :aws/serviceFullName "AWS Secrets Manager"}}}
